@font-face {
  font-family: 'minecraftiaregular';
  src: url('files/minecraftia-regular-webfont.eot');
  src: url('files/minecraftia-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('files/minecraftia-regular-webfont.woff2') format('woff2'),
    url('files/minecraftia-regular-webfont.woff') format('woff'),
    url('files/minecraftia-regular-webfont.ttf') format('truetype'),
    url('files/minecraftia-regular-webfont.svg#minecraftiaregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}